*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    background: #F6F8FF;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.section_search {
    display: flex;
    flex-direction: row;
    background: #F6F8FF;
    align-items: center;
    justify-content: center;
    height: 150px
}

.section_search_input {
    width: 80%;
    height: 50%;
    border-radius: 10px ;
    font-family: 'Open Sans', sans-serif;
    color: #4B6A9B;
    font-size: 24px;
    background-color: #FEFEFE;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border: none;
}

.icon_search {
    background-image: url(images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 60px;
    outline: none;
    margin: 30px;
}

::placeholder {
    color: #4b6a9b
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.card_main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F8FF;
}

.card_main_info {
    background-color: #FEFEFE;
    width: 80%;
    height: 1200px;
    margin: 25px;
    border-radius: 15px;
    box-shadow:  0px 4px 4px 0px rgba(0,0,0,0.25);
}

.personal_information {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.container_image {
    background-color: #FEFEFE;
    width: 50%;
    height: 350px;
    margin: 20px;
}

.container_data {
    background-color: white;
    width: 50%;
    height: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio {
    flex-direction: row;
    display: flex;
    margin: 0 20px 20px 20px;
    background-color: #FEFEFE;
    height: 100px;
}

.bio_info {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    color: #4B6A9B;
    margin-left: 30px;
}


.statistics {
    background-color: #F6F8FF;
    height: 150px;
    margin: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.information_contact {
    background-color: #FEFEFE;
    height: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.information_contact_container {
    display: flex;
    flex-direction: row;
}

.data_contact {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #4B6A9B;
    font-size: 22px;
    font-family: 'Space Mono', monospace;;
}

h1 {
    font-family: 'Space Mono', monospace;
    color: #2B3442;
    font-size: 24px;
    margin-bottom: 6px;
}

.username {
    font-family: 'Space Mono', monospace;
    color: #0079FF;
    font-size: 22px;
    margin-bottom: 6px;
}

.date {
    font-family: 'Space Mono', monospace;
    font-size: 22px;
    color: #4b6a9b;
}

.data_number {
    font-size: 26px;
    font-weight: bold;
    color: #2b3442;
    font-family: 'Space Mono', monospace;
    margin: 10px;
}

.statistics_label {
    font-family: 'Space Mono', monospace;
    color: #4B6A9B;
    font-size: 22px;
}

.statistics_container_state {
    width: 20%;
}

.image_user {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
}

.icons {
    width: 40px;
    height: 40px;
    margin: 10px 20px 20px 30px;
}

.contain_botton {
    flex-direction: row;
    display: flex;
    margin: 30px;
    align-items: center;
    background: #FEFEFE ;
}

.botton_lista {
    height: 80px;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    color: #FEFEFE;
    outline: none;
    border:none;
    background-color: #0079FF;;
    font-family: 'Space Mono', monospace;
    font-weight: bolder;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

footer {
    height: 100px;
    background-color: #F6F8FF;
}
